{% extends "base.html.twig" %}

{% block body %}

    <header class="jumbotron jumbotron-fluid bg-info text-white mb-0 border-bottom border-white">
        <section class="container">
            <h1 class="display-4 animate__animated animate__bounce">Bank</h1>
        </section>
    </header>
    <ul class="nav mt-0 bg-info py-1">
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ path("bank") }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ path("virement") }}">Virements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Souscrire</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Statistiques</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Blog</a>
        </li>
    </ul>

    <main class="container my-5">
        {% block main %}{% endblock %}
    </main>

    <footer class="jumbotron jumbotron-fluid bg-info text-white mb-0">
        <section class="container">
            <p class="lead">Bank Tous droits réservés</p>
        </section>
    </footer>

{% endblock %}




