{% extends 'template.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block main %}


<h2>Creer un nouveau compte</h2>

  {% for error in errors %}
        <div class="alert-danger">
            {{ error.message }}
        </div>
  {% endfor %}

<div class="d-flex flex-wrap">
{{form(form)}}
</div>
  


{% endblock %}
