{% extends 'template.html.twig' %}


{% block title %}Statistiques{% endblock %}

{% block main %}

    <h2>L'économie en bref</h2>
    
    <div id="section" class="d-flex flex-wrap"></div>
    <table class="table table-striped mt-3">
        <thead class="bg-info text-white">
            <tr>
            <th scope="col">Indicateur</th>
            <th scope="col">Valeur</th>
            <th scope="col">Variation</th>
            </tr>
        </thead>
        <tbody id="statTable">
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/statistics.js') }}"></script>
{% endblock %}
