{% extends 'template.html.twig' %}

{% block title %}Virement{% endblock %}

{% block main %}

<h2 class="my-5">Virement</h2>

{% for error in errors %}
<div class="alert-danger">
    {{ error.message }}
</div>
{% endfor %}


{{ form(form)}}
{% endblock %}
